.button {
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  border-radius: 8px;
  padding: 4px 8px;
  display: grid;
  place-content: center;
  cursor: pointer;
  &:hover {
    background-color: var(--bg-element);
  }
}
