.user-info {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  position: relative;
  background-color: var(--bg-element);
  border-radius: 1rem;
  & .avatar-wrapper {
    margin-top: -5rem;
    position: relative;
    max-height: 128px;
    max-width: 128px;
    & .avatar {
      border-radius: 100%;
      min-width: 128px;
      min-height: 128px;
      background-color: var(--bg-element);
    }
    & .flag {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      position: absolute;
      bottom: 12px;
      right: -8px;
      border-radius: 100%;
    }
  }

  & .name {
    margin-top: 0.25rem;
    font-size: 1.5rem;
  }

  & span {
    font-size: 0.85rem;
  }

  & .actions {
    width: 100%;
    margin: 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
    height: 0;
    opacity: 0;
    visibility: hidden;
    & button {
      transition: all 0.3s ease-in-out;
      &:nth-child(1) {
        background-color: rgba(202, 71, 71, 0.75);
        &:hover {
          background-color: rgb(202, 71, 71);
        }
      }
      &:nth-child(2) {
        background-color: rgba(13, 100, 201, 0.75);
        &:hover {
          background-color: rgb(13, 100, 201);
        }
      }
    }
  }

  &:hover .actions {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
}
