.user-info {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  position: relative;
  background-color: var(--bg-element);
  border-radius: 1rem;
  & .avatar-wrapper {
    margin-top: -6rem;
    position: relative;
    & .avatar {
      border-radius: 100%;
    }
    & .flag {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      position: absolute;
      bottom: 8px;
      right: 8px;
      border-radius: 100%;
    }
  }

  & .name {
    margin-top: 0.25rem;
    font-size: 1.5rem;
  }

  & span {
    font-size: 0.85rem;
  }
}
