/* Estilo general del dropdown */
.dropdown {
  width: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  width: 100%;
  /* min-width: 160px; */

  & label {
    font-size: 0.85rem;
  }

  & .dropdown-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Esto asegura que la flecha se alinee a la derecha */
    gap: 0.5rem;
    background-color: #3a3a3a;
    color: white;
    font-size: 0.95rem;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
    padding: 8px;

    &:hover {
      background-color: #5f5c5c;
    }

    &::after {
      content: '';
      width: 14px;
      height: 14px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJtMTkgOS03IDctNy03Ii8+PC9zdmc+');
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: auto;
      transition: transform 0.3s ease-in-out;
    }

    &[aria-expanded='true']::after {
      transform: rotate(180deg);
    }
  }

  & .dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 64px;
    width: fit-content;
    background-color: #3a3a3a;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    /* min-width: 160px; */
    width: 100%;
    border-radius: 5px;
    z-index: 1;
    transition: all ease-in-out 0.3s;
    max-height: 200px;
    overflow: auto;
    & .button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.25rem;
      color: white;
      padding: 8px 12px;
      transition: all ease-in-out 0.3s;
      border: 0;
      text-align: left;
      background-color: #3a3a3a;
      cursor: pointer;
      &:nth-child(1) {
        border-radius: 5px 5px 0 0;
      }
      &:last-child {
        border-radius: 0 0 5px 5px;
      }
      &:hover {
        background-color: #5f5c5c;
      }
    }
  }
  & .show {
    display: flex;
  }
}
