.users {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  & .title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  & .list {
    display: grid;
    grid-template-columns: minmax(288px, 1fr);
  }
}
